name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Validate test
      id: validate-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Validate test
        setup-command: ''
        command: python3 validate_info.py
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        VALIDATE-TEST_RESULTS: "${{steps.validate-test.outputs.result}}"
      with:
        runners: validate-test
